{% extends 'base.html' %}

{% block body %}
<div class="container my-5">
    <h2 class="text-center">Manage Employee Reviews</h2>
    
    <form method="POST" class="mb-5">
        {% csrf_token %}
        <div class="form-group">
            <label for="employee">Select Employee</label>
            <select name="employee" class="form-control" required>
                <option value="" disabled selected>Select an Employee</option>
                {% for employee in employees %}
                    <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mt-3">
            <label for="feedback">Feedback</label>
            <textarea class="form-control" name="feedback" rows="5" required></textarea>
        </div>

        <div class="form-group mt-3">
            <label for="rating">Rating</label>
            <select class="form-control" name="rating" required>
                <option value="" disabled selected>Select Rating</option>
                <option value="1">1 (Poor)</option>
                <option value="2">2</option>
                <option value="3">3 (Average)</option>
                <option value="4">4</option>
                <option value="5">5 (Excellent)</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Submit Review</button>
    </form>

  
</div>
{% endblock %}
